<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Clairo Music Player </ion-title>
    <ion-button id = "addMusicButton" slot = "end" [routerLink]="['/music-uploader']">
      <ion-icon name="musical-notes"></ion-icon>
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id = "artistBanner">
  </div>

  <ion-list *ngFor="let track of files | async">
    <ion-card>
      <ion-item>
        <fa-icon [icon]="faGuitar" size = "2x"></fa-icon>
        <ion-card-title>{{track.title}}</ion-card-title>
      </ion-item>
      <ion-card-content>{{track.description}}</ion-card-content>
      <ion-item>
        <ion-icon class = "playButton" name="play-circle-outline" (click)="togglePlayer(false,track)" *ngIf="!track.isPlaying"></ion-icon>
        <ion-icon class = "pausButton" name="pause-outline" (click)="togglePlayer(true,track)" *ngIf="track.isPlaying"></ion-icon>
        <ion-range id="range" max="100" name="{{track.name}}" #range [(ngModel)]="track.progress"
          (touchend)="seek(track)" (mouseup)="seek(track)">
        </ion-range>
      </ion-item>
    </ion-card>
  </ion-list>


</ion-content>