#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#addMusicButton{
    --background: rgb(240, 150, 165);
}
#artistBanner{
  background: url("https://1.bp.blogspot.com/-b9XRbYWGGfg/WqhNYPHKArI/AAAAAAAARJA/KOtpTUgYqhAdRB3usV58NznGk8xRGsZPgCLcBGAs/s1600/clairo.jpg");
  width: 100%;
  height: 35%;
  border-radius: 5%;
  background-size: 100% 100%;
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}

.playButton{
  color:rgb(164, 12, 187);
}

#container a {
  text-decoration: none;
}
#range{
  --bar-height: 20px;
  --knob-border-radius: 0px;
  --bar-background: rgb(236, 151, 236);
  --bar-background-active: rgb(164, 12, 187);
  --knob-background	:rgb(221, 6, 174);
}